.feature-item {
	position: relative;
	padding-bottom: 1.5rem;
	

	@mixin atSmall {
		background-color: rgba(#FFF, .25);
		margin: 45px 0px 5px 0px;
		border-radius: 5px;
		padding: 5px 5px 5px 100px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.85);
		}

	&__icon {
		display: block;
		margin: 0 auto;

		@mixin atSmall{
			position: absolute;
			left: 0;
			margin: 75px 0px 0px 15px;
		}
	}

	&__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-bottom: .8rem;
		margin-top: .7em;
		text-align: center;
	
	@mixin atSmall {
		font-size: 1.875rem;
		margin-top: 1em;
		text-align: left;
	}

	}
}